
main {	
	font-size: 0px;
	/*text-align: center;*/
	padding-top: 25px;
}

#inner {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	/*margin: auto;*/
}

div {
	box-sizing: border-box;		
}

.border {
	border: 1px solid black;
	display: inline-block;
}
#green {
	background-color: green;
	width: 50%;
	height: 200px;
}

#blue {
	background-color: blue;
	width: 50%;
	height: 200px;
}

#gray {
	background-color: #a0a0a0;
	width: 33.33%;
	height: 300px;
}

#black {
	background-color: black;
	width: 33.33%;
	height: 300px;
}

#orange {
	background-color: orange;
	width: 33.33%;
	height: 300px;
}