* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/outerspace_landscape.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

main {    
    /*background-color: #c8c8c8;*/
    margin-top: 110px;
}

nav {
    background-color: darkgray;
    padding-top: 5px;
    padding-left: 150px;
    position: fixed;
    top: 0; 
    text-align: left;
    height: 110px;
    width: 100%;
    /*z-index: 1;*/
}

.logo {
    border: 1px solid black;
    border-radius: 100px;
    position: absolute;
    left: 50px;
    height: 100px;
    width: 100px;
}

a {
    color: rebeccapurple;
    font-size: 24px;
}

ul {
    margin-top: 30px;
}

li {
    list-style: none;
    display: inline-block;
}

li::after {
    content: "|";
    padding-left: 4px;    
    font-size: 26px;
}

.outter {
    padding: 100px;
}

.greenBorder {
    position: relative;
    width: 600px;
    height: 300px;
    border: 10px dotted green;
    margin: auto;
}

.images {
    /*width: 200px;*/
    height: 200px;
}

.cat {
    position: absolute;
    top: -100px;
    left: -100px;
}

.dog {
    position: absolute;
    left: 500px;
    bottom: -100px;
}